<header class="header">
    <img src="assets/logo.png" alt="Organ Donor Site Logo" class="logo" height="150px" width="150px">
    <nav class="navbar">
        <a href="javascript:void(0)" class="active"> Home</a>
        <a href="javascript:void(0)">About</a>
        <a href="javascript:void(0)">Services</a>
        <a routerLink="/">Login</a>
    </nav>
</header>

<section class="section">
    <h1 class="section-heading">Welcome to LifeLink</h1>

    <br>
    <p class="section-description">Revolutionizing Organ Donation Matching</p>
    <h1 class="section-description">Pledge to Become Organ Donor</h1>
    <img src="assets/donor.png" alt="">

    <section class="section">
        <h1 class="section-heading">About Us</h1>
        <p class="section-description">Our mission is to revolutionize the organ donation process by creating a streamlined platform that connects donors with recipients in need.</p>
        <p class="section-description">At LifeLink, we believe that every person deserves a chance at life, and we are dedicated to making organ donation more accessible and efficient.</p>
        <p class="section-description">Our team consists of passionate individuals from diverse backgrounds, including healthcare professionals, technology experts, and advocates for organ donation.</p>
        <p class="section-description">Together, we are committed to leveraging the power of technology to save lives and create a positive impact on the world.</p>
    </section>  


</section>