<header class="header">
    <img src="assets/logo.png" alt="Organ Donor Site Logo" class="logo" height="150px" width="150px">
    <nav class="navbar">
        <a href="javascript:void(0)" class="active">Home</a>
        <a href="javascript:void(0)">About</a>
        <a href="javascript:void(0)">Services</a>
        <a href="javascript:void(0)">Contact</a>
    </nav>
</header>

<section class="section">
    <h1 class="section-heading">Welcome to LifeLink</h1>
    <p class="section-description">Revolutionizing Organ Donation Matching</p>
    <div class="form-container">
        <form class="form">
            <div class="form-group">
                <label for="search">Search for Organ Availability</label>
                <input required name="search" id="search" type="text" placeholder="Enter organ or location">
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" name="location" id="location" required placeholder="Enter your location">
            </div>
            <button type="submit" class="form-submit-btn">Search</button>
        </form>
    </div>
</section>


