<!-- dashboard.component.html -->

<!-- <div>
    <h2>Organizations</h2>
    <ul>
      <li *ngFor="let organization of organizations" (click)="navigateToOrganization(organization.instName)">
        <a href="javascript:void(0)">{{ organization.instName }} - {{ organization.instType }}</a>
      </li>
    </ul>
  </div> -->
  
  
  <div  class="navbar">
    <div>{{organizations[0].instName}}</div>
    <div class="navbar-info">{{organizations[0].city}}, {{organizations[0].state}}</div>
  </div>
  
  <div class="card-container">
    <div *ngFor="let organization of organizations" (click)="navigateToOrganization(organization.instName)"  class="card"  style="background-color: #ffd1dc; border: 1px solid #ff91a4;">
      <li  class="card-body">
        <a href="javascript:void(0)" class="card-title">{{ organization.instName }} - {{ organization.instType }}</a>
      </li>
    </div>
    
  </div>