
<!-- 
<div>
    <h2>Organs Available in {{ institutionName }}</h2>
    <ul>
      <li *ngFor="let organ of organs" (click)="navigateToOrgan(organ.orgName,organ.donorInstName)">
        <a href="javascript:void(0)">{{ organ.orgName }} - {{ organ.donorInstName }}</a>
      </li>
    </ul>
  </div> -->
  
  <div class="navbar">
    <div>{{institutionName}}</div>
    
  </div>
  
  <div class="card-container">
    <div  *ngFor="let organ of organs" (click)="navigateToOrgan(organ.orgName,organ.donorInstName)" class="card" style="background-color: #ffd1dc; border: 1px solid #ff91a4;">
      <li class="card-body">
        <h2 class="card-title">{{ organ.orgName }} - {{ organ.donorInstName }}</h2>
      </li>
    </div>
  </div>